export IDF_PATH=$HOME/esp/esp-idf
export ESPPORT=/dev/cu.SLAB_USBtoUART

export PATH=$PATH:$IDF_PATH/components/esptool_py/esptool:$IDF_PATH/components/espcoredump:$IDF_PATH/components/partition_table/:$HOME/esp/xtensa-esp32-elf/bin
export PATH=$PATH:$IDF_PATH/components/esptool_py/esptool
export PATH=$PATH:$IDF_PATH/components/espcoredump
export PATH=$PATH:$IDF_PATH/components/partition_table/
export PATH=$PATH:$IDF_PATH/tools
export PATH=$PATH:$HOME/.espressif/tools/xtensa-esp32-elf/esp32-2019r1-8.2.0/xtensa-esp32-elf/bin
export PATH=$PATH:$HOME/.espressif/tools/esp32ulp-elf/2.28.51.20170517/esp32ulp-elf-binutils/bin
export PATH=$PATH:$HOME/.espressif/tools/openocd-esp32/v0.10.0-esp32-20190313/openocd-esp32/bin
export PATH=$PATH:$HOME/.espressif/python_env/idf4.0_py2.7_env/bin